h1 {
    color: rgb(255,0,0);
    text-align: center;
    text-decoration: underline;
}
h2{
    color: rgb(0,0,0);
    text-align: center;
    text-decoration: underline;
}
p{
    font-style: italic;
    font-weight: 1000;
    border-left: 2px solid red;
}
table{
    border: 1px solid black;
    height: 70px;
    width: 100%;
}
th {
    border: 1px solid;
}
td,tr {
    border: 1px solid;
    border-collapse: collapse;
}
body {
    border-right: 2px dashed rgb(255,4,255);
    border-bottom: 30px dashed red;
}
h3{
    color: rgb(255,0,0);
    text-align: right;
    border-bottom: 2px dashed red;
    padding-bottom: 12px;
}